:root {
    --dasar : #013E62;
    --text : #fff;
    --tengah : #55A4D6;
    --standar : #25668F;
    --terang : #E6F0F6;
    --hitam : #000;
}

body {
    font-family: Arial, sans-serif;
    color: var(--hitam);
    margin: 20px;
    background-color: var(--terang);
    min-height: 10000px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    background: var(--dasar);
    backdrop-filter: blur(10px);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar input {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.navbar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
}

h2 {
    text-align: center;
    margin-left: 5rem;
    font-family: 'poppins';
    font-size: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--dasar);
    color: var(--text);
    z-index: 9999;
    position: fixed;
    padding: 10px 20px;
}

.navbar h2 {
    font-size: 2rem;
    padding: 5px 5px;
}

#searchBar {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}


.navbar h2 {
    margin: 0;
}

#searchBar {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}
.column {
    width: 48%;
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    max-height: 7000px;
    border: 1px solid #ddd;
    padding: 10px;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

li.hidden {
    display: none;
}

li a {
    text-decoration: none;
    color: var(--hitam);
}

li a:hover {
    content: '';
    padding-bottom: 2px;
    border-bottom: 0.1rem solid var(--hitam);
    transform: scaleX(0);
}

/* LIRIK */

section {
    margin-left: 10px;
}

.reff {
    margin-left: 1.5rem;
}

.limapuluh {
    padding-top: 5rem;
}

pre {
    font-family: Calibri;
    margin-left: 10px;
    margin: 4px;
}

/* FOOTER */

footer.bawah {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--text);
    padding: 10px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
footer.bawah button {
    background: var(--standar);
    color: var(--text);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
footer.bawah button:hover {
    background: var(--tengah);
}



@media (min-width: 320px) and (max-width: 767px) {
    html {
        font-size: 75%;
    }
    .limapuluh {
        font-size: 1rem;
    }


    
}