:root {
    --dasar : #013E62;
    --text : #fff;
    --tengah : #55A4D6;
    --standar : #25668F;
    --terang : #E6F0F6;
    --hitam : #000;
}

body {
    font-family: Arial, sans-serif;
    color: var(--hitam);
    margin: 20px;
    background-color: var(--terang);
    min-height: 10000px;
}

h2 {
    text-align: center;
    margin-left: 5rem;
    font-family: 'poppins';
    font-size: 1.8rem;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--dasar);
    color: var(--text);
}


#searchBar {
    width: 30%;
    margin: 8px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}
.container {
    display: flex;
    justify-content: space-between;
}
.column {
    width: 48%;
}
ul {
    list-style: none;
    padding: 0;
    max-height: 7000px;
    border: 1px solid #ddd;
    padding: 10px;
}
li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
li.hidden {
    display: none;
}

li a {
    text-decoration: none;
    color: var(--hitam);
}

li a:hover {
    content: '';
    padding-bottom: 2px;
    border-bottom: 0.1rem solid var(--hitam);
    transform: scaleX(0);
}

/* LIRIK */

section {
    margin-left: 10px;
}

.reff {
    margin-left: 1.5rem;
}

.limapuluh {
    padding-top: 2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
    html {
        font-size: 55%;
    }
    .limapuluh {
        margin-left: 1.2rem;
        font-size: 2rem;
    }
}